 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PopGen 2.0 Configuration Generator
    </title>
    <link href="css/metro.css" rel="stylesheet">
    <link href="css/metro-icons.min.css" rel="stylesheet">
    <link href="css/metro-responsive.min.css" rel="stylesheet">
    <link href="css/metro-rtl.min.css" rel="stylesheet">
    <link href="css/metro-schemes.min.css" rel="stylesheet">
    <script src="scripts/jquery.js">
    </script>
    <script src="js/stickyfill.min.js">
    </script>
    <script src="js/metro.js">
    </script>
    <script src="js/angular.min.js">
    </script>
	<link rel="icon" href="popgen.ico">
  </head>
  <body>
    <div class="flex-grid" style="width:70%;margin: 0 auto" ng-app="">
      <h1 class="text-light">PopGen 2.0
      </h1>
      <div class="app-bar teal" data-role="appbar">
        <a class="app-bar-element active" href="#">PopGen
        </a>
        <span class="app-bar-divider">
        </span>
        <ul class="app-bar-menu">
          <li>
            <a href="">SimTravel.org
            </a>
          </li>
          <li>
            <a href="">Documentation
            </a>
          </li>
          <li>
            <a href="">GitHub
            </a>
          </li>
		  <li>
            <a href="">Contact Us
            </a>
          </li>
		  <li>
            <a href="">About
            </a>
          </li>
        </ul>
      </div>
      <ul class="breadcrumbs2 large" id="navbar">
        <li class="active" onclick="show('project')">
          <a href="#project">
            <span class="mif-home">&nbspProject
            </span>
          </a>
        </li>
        <li onclick="show('controls')">
          <a href="#controls">
            <span class="mif-keyboard">&nbspControls
            </span>
          </a>
        </li>
        <li onclick="show('parameters')">
          <a href="#parameters">
            <span class="mif-cogs">&nbspParameters
            </span>
          </a>
        </li>
        <li onclick="show('geographies')">
          <a href="#geographies">
            <span class="mif-earth">&nbspGeographies
            </span>
          </a>
        </li>
        <li onclick="show('output')">
          <a href="#output">
            <span class="mif-stack">&nbspOutput
            </span>
          </a>
        </li>
        <li onclick="show('synthesis')">
          <a href="#synthesis">
            <span class="mif-magic-wand">&nbspSynthesis
            </span>
          </a>
        </li>
      </ul>
      <div class="row flex-just-sb">
        <div class="cell colspan12">
          <div id="project" style="" class="page">		  
            <div style="text-align:center">
			<form id="plabel">
              <div class="input-control modern text">
                <input type="text" name="pname">
                <span class="label">Project Name
                </span>
                <span class="informer">e.g., PopGen_Project
                </span>
                <span class="placeholder">Project Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="hhldentityname">
                <span class="label">Household Entity Name
                </span>
                <span class="informer">e.g., hhld
                </span>
                <span class="placeholder">Household Entity Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="personentityname">
                <span class="label">Person Entity Name
                </span>
                <span class="informer">e.g., person
                </span>
                <span class="placeholder">Person Entity Name
                </span>
              </div>
              <br>
              <div class="input-control modern text">
                <input type="text" name="gqentityname">
                <span class="label">Groupquarter Entity Name
                </span>
                <span class="informer">e.g., gq
                </span>
                <span class="placeholder">Groupquarter Entity Name
                </span>
              </div>
              <div class="input-control modern text">
                <input name="aggregate" type="text" ng-model="aggregate" ng-init="aggregate='Region'">
                <span class="label">Aggregate Spatial Unit Name
                </span>
                <span class="informer">e.g., County
                </span>
                <span class="placeholder">Aggregate Spatial Unit
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="disaggregate" ng-model="disaggregate" ng-init="disaggregate='Geo'">
                <span class="label">Disaggregate Spatial Unit Name
                </span>
                <span class="informer">e.g., TAZ
                </span>
                <span class="placeholder">Disaggregate Spatial Unit
                </span>
              </div>
              <br>
              <div class="input-control modern text">
                <input type="text" name="samplename" ng-model="sampleu" ng-init="sampleu='Sample'">
                <span class="label">Sample Spatial Unit Name
                </span>
                <span class="informer">e.g., PUMA
                </span>
                <span class="placeholder">Sample Spatial Unit Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="folderlocation">
                <span class="label">Project Folder Location
                </span>
                <span class="informer">e.g., C:\Users\jdoe\PopGen
                </span>
                <span class="placeholder">Project Folder Location
                </span>
              </div>
			  <input type="submit"></input>
			  </form>
			  <p style="display: none;" id="notification">Write Complete</p>
            </div>
            <div class="flex-grid">
              <div class="row">
                <div class="cell size3">
                  <h4>a. Select Sample Files
                  </h4>
                </div>
              </div>
              <div class="row flex-just-sb cells3">
                <div class="cell size4">
                  <p>Select Household Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell size5">
                  <h4>b. Select {{ aggregate }}-Marginal Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Replace 'Geo' with Disaggregate Spatial and Region with 'Aggregate' spatial -->
              <div class="row">
                <div class="cell size5">
                  <h4>c. Select {{ disaggregate }}-Marginal Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell size5">
                  <h4>d. Select Mapping Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select {{ aggregate }}-{{ disaggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ sampleu }}-{{ aggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ sampleu }}-{{ disaggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell size5">
                  <h4>e. Select Variable Associations
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household ID Variable
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>1
                      </option>
                      <option>2
                      </option>
                      <option>3
                      </option>
                    </select>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person ID Variable
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>1
                      </option>
                      <option>2
                      </option>
                      <option>3
                      </option>
                    </select>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ aggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>1
                      </option>
                      <option>2
                      </option>
                      <option>3
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row cells2">
                <div class="cell size4">
                  <p>Select {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>1
                      </option>
                      <option>2
                      </option>
                      <option>3
                      </option>
                    </select>
                  </div>
                </div>
                <div class="cell size8">
                  <p>Select Sample {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>1
                      </option>
                      <option>2
                      </option>
                      <option>3
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="controls" style="display:none" class="page">
            <div style="text-align:center">
              <div class="input-control modern text">
                <input type="text">
                <span class="label">Enter Scenario Description
                </span>
                <span class="informer">e.g., Pop_Scenario1
                </span>
                <span class="placeholder">Scenario Description
                </span>
              </div>
              <div class="flex-grid">
                <div class="row">
                  <div class="cell size8" style="text-align: left">
                    <h4>a. Select Control Variables for Household at {{ aggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhldaggrfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                         
                        <span class="item">
                          <a href="javascript:moveSelected('hhldaggrfrom', 'hhldaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhldaggrto', 'hhldaggrfrom')">&lt;
                          </a>
                        </span>                                         
                      </div>
                      <select multiple id="hhldaggrto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>b. Select Control Variables for Person at {{ aggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="personaggrfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                       
                        <span class="item">
                          <a href="javascript:moveSelected('personaggrfrom', 'personaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('personaggrto', 'personaggrfrom')">&lt;
                          </a>
                        </span>                              
                      </div>
                      <select multiple id="personaggrto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>c. Select Control Variables for Household at {{ disaggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhlddaggrfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('hhlddaggrfrom', 'hhlddaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhlddaggrto', 'hhlddaggrfrom')">&lt;
                          </a>
                        </span>                               
                      </div>
                      <select multiple id="hhlddaggrto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>d. Select Control Variables for Person at {{ disaggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="persondaggrfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('persondaggrfrom', 'persondaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('persondaggrto', 'persondaggrfrom')">&lt;
                          </a>
                        </span>                                          
                      </div>
                      <select multiple id="persondaggrto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>e. Select Control Variables for Household at Groupquarter Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhldgqfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('hhldgqfrom', 'hhldgqto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhldgqto', 'hhldgqfrom')">&lt;
                          </a>
                        </span>                               
                      </div>
                      <select multiple id="hhldgqto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>f. Select Control Variables for Person at Groupquarter Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form name="selection" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="persongqfrom">
                        <option value="html">Html
                        </option>
                        <option value="css">Css
                        </option>
                        <option value="google">Google
                        </option>
                        <option value="javascript">Javascript
                        </option>
                        <option value="jquery">Jquery
                        </option>
                        <option value="regex">Regex
                        </option>
                        <option value="php">Php
                        </option>
                        <option value="mysql">Mysql
                        </option>
                        <option value="xml">Xml
                        </option>
                        <option value="json">Json
                        </option>
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('persongqfrom', 'persongqto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('persongqto', 'persongqfrom')">&lt;
                          </a>
                        </span>                                          
                      </div>
                      <select multiple id="persongqto" size="10" name="topics[]">
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="parameters" style="display:none" class="page">
            <div class="flex-grid">
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>a. Enter IPF Settings
                  </h4>
                </div>
              </div>
              <div class="row">						
                <div class="cell size12">
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Tolerance
                    </span>
                    <span class="informer">0.1322
                    </span>
                    <span class="placeholder">Tolerance
                    </span>
                  </div>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Iterations
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Iterations
                    </span>
                  </div>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Zero Marginal Correction
                    </span>
                    <span class="informer">e.g., 0.123
                    </span>
                    <span class="placeholder">Zero Marginal Correction
                    </span>
                  </div>
                  <br>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Archive Performance
                    </span>
                    <span class="informer">0.1322
                    </span>
                    <span class="placeholder">Archive Performance
                    </span>
                  </div>								
                </div>
              </div>
              <div class="row">
                <div class="cell size6">
                  <p>Select Rounding Procedure
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>Bucket Rounding
                      </option>															
                    </select>
                  </div>
                </div>                            
              </div>
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>b. Enter Reweighting Settings
                  </h4>
                </div>
              </div>
              <div class="row">						
                <div class="cell size12">
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Tolerance
                    </span>
                    <span class="informer">0.1322
                    </span>
                    <span class="placeholder">Tolerance
                    </span>
                  </div>								
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Archive Performance
                    </span>
                    <span class="informer">0.1322
                    </span>
                    <span class="placeholder">Archive Performance
                    </span>
                  </div>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Inner Iterations
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Inner Iterations
                    </span>
                  </div>
                  <br>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Outer Iterations
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Outer Iterations
                    </span>
                  </div>								
                </div>
              </div>
              <div class="row">
                <div class="cell size6">
                  <p>Select Reweighting Procedure
                  </p>
                  <div class="input-control select">
                    <select>
                      <option>IPU
                      </option>
                      <option>Entropy
                      </option>															
                    </select>
                  </div>
                </div>                            
              </div>
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>c. Enter Draws Settings
                  </h4>
                </div>
              </div>
              <div class="row">						
                <div class="cell size12">								
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Iterations
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Iterations
                    </span>
                  </div>								
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">P-Value Tolerance
                    </span>
                    <span class="informer">0.1322
                    </span>
                    <span class="placeholder">P-Value Tolerance
                    </span>
                  </div>
                  <div class="input-control modern text">
                    <input type="text">
                    <span class="label">Seed
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Seed
                    </span>
                  </div>
                  <br>
                </div>
              </div>                        
            </div>
          </div>
          <div id="geographies" style="display:none" class="page">
            <div class="flex-grid">
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>a. Select {{ aggregate }}(s) to synthesize
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="cell size12">
                  <form name="selection" method="post" onSubmit="return selectAll()">
                    <select multiple size="10" id="aggrsynthfrom">
                      <option value="html">Html
                      </option>
                      <option value="css">Css
                      </option>
                      <option value="google">Google
                      </option>
                      <option value="javascript">Javascript
                      </option>
                      <option value="jquery">Jquery
                      </option>
                      <option value="regex">Regex
                      </option>
                      <option value="php">Php
                      </option>
                      <option value="mysql">Mysql
                      </option>
                      <option value="xml">Xml
                      </option>
                      <option value="json">Json
                      </option>
                    </select>
                    <div class="controls">                                           
                      <span class="item">
                        <a href="javascript:moveSelected('aggrsynthfrom', 'aggrsynthto')">&gt;
                        </a>
                      </span>
                      <span class="item">
                        <a href="javascript:moveSelected('aggrsynthto', 'aggrsynthfrom')">&lt;
                        </a>
                      </span>                                            
                    </div>
                    <select multiple id="aggrsynthto" size="10" name="topics[]">
                    </select>
                  </form>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="cell size8" style="text-align: left">
                  <h4>b.{{ disaggregate }}(s) to synthesize
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="cell size12">
                  <form name="selection" method="post" onSubmit="return selectAll()">
                    <select multiple size="10" id="disaggrsynthfrom">
                      <option value="html">Html
                      </option>
                      <option value="css">Css
                      </option>
                      <option value="google">Google
                      </option>
                      <option value="javascript">Javascript
                      </option>
                      <option value="jquery">Jquery
                      </option>
                      <option value="regex">Regex
                      </option>
                      <option value="php">Php
                      </option>
                      <option value="mysql">Mysql
                      </option>
                      <option value="xml">Xml
                      </option>
                      <option value="json">Json
                      </option>
                    </select>
                    <div class="controls" style="color: gray;">                                            
                      <span class="item">
                        <a href="">&gt;
                        </a>
                      </span>
                      <!-- Move these automatically -->
                      <span class="item">
                        <a href="">&lt;
                        </a>
                      </span>                                            
                    </div>
                    <select multiple id="disaggrsynthto" size="10" name="topics[]">
                    </select>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="output" style="display:none" class="page">
            <div class="flex-grid">
              <div class="row">
                <div class="cell size12" style="text-align: center;">
                  <h4>Click +/- to add new Tabulation
                  </h4>				  
                </div>				
              </div>
			  <div class="row">
                <div class="cell size12" style="text-align: center">			 
				<button id="tab-adder" onclick="addTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-plus"></span>
					<span class="title">Add</span>
				</button>
				<button onclick="removeTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-minus"></span>
					<span class="title">Remove</span>
				</button>
				</div>
			  </div>			  
			  <br id="tab-add"></br>
			</div>
          </div>
		  <br>
          <div id="synthesis" style="display:none" class="page">
			<div style="text-align:center">              
              <div class="input-control modern text">
                <input type="text">
                <span class="label">{{aggregate}} Summary Name
                </span>
                <span class="informer">e.g., TAZ_Summary
                </span>
                <span class="placeholder">{{aggregate}} Summary Name
                </span>
              </div>
              <div class="input-control modern text">
                <input id="input" type="text">
                <span class="label">{{disaggregate}} Summary Name
                </span>
                <span class="informer">e.g., County_Summary
                </span>
                <span class="placeholder">{{disaggregate}} Summary Name
                </span>
              </div>              
			</div>
			<div style="text-align:center">
			<button class="shortcut-button bg-green bg-active-cyan fg-white" style="width: 60%">
			<span class="icon mif-magic-wand"></span>
			<span class="title">Run Synthesis</span>
			</button>
			</div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/custom.js">
  </script>
</html>
